/* Color Theme Swatches in Hex */
$My-Favorite-Nights-1-hex: #95a0bf;
$My-Favorite-Nights-2-hex: #566d8c;
$My-Favorite-Nights-3-hex: #2e4559;
$My-Favorite-Nights-4-hex: #0c261f;
$My-Favorite-Nights-5-hex: #0d402d;

/* Color Theme Swatches in Hex */
$Landscape-1-hex: #557370;
$Landscape-2-hex: #99bfb8;
$Landscape-3-hex: #022601;
$Landscape-4-hex: #8da658;
$Landscape-5-hex: #f2f2f2;

/* Color Theme Swatches in Hex */
$grey: #b0aebf;
$darkGrey: #5e6d8c;
$sandColor: #f29c50;
$darkSandColor: #a67951;
$brown: #593f2f;
